body{
    /* background-image: url(/images/sabrianna-wh_rZqPiCuw-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;
    font-family: Cambria, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0px;
    display: grid; 
    height: 100vh; 
    grid-template-areas: "head" 
                        "nav"
                        " main" 
                        "footer "; 
    grid-template-rows: 0.2fr 0.08fr 1fr 0.135fr; 
    grid-template-columns: 1fr; 
}

.mid{
    margin: 0 auto;
    max-width: 1390px;
}

header{
    grid-area: head; 
    background-color: hsl(0, 3%, 12%);
}

header > img{
    display: block;
    margin:auto;
    padding: 38px;
}
header > img:hover{
    animation: scale .7s;
}

@keyframes scale{
    0%{
        transform: scale(1);
    }
    65%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

nav{
    grid-area: nav; 
    background-color: #252020;
    margin-bottom: 10px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

nav li{
    display: inline-block;
    margin: 0 100px;
    padding:12px 25px;
    border-bottom:  hsl(0, 3%, 12%);
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 25px;
}

nav a:hover{
    border-radius: 5px;
    color: black;
    animation: delay 1s forwards;
}

@keyframes delay{
    0%{
    background-color: hsl(0, 3%, 12%);
    }
    100%{
        background-color: #ffffff;
    }
}

.active{
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
}

main{
    display: grid;
    grid-area: main;
    grid-template-areas: "first first first" "sec third last";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1.4fr;
    grid-gap: 20px;
    padding: 10px 20px;
    box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.51);
    background-color: #ffffff;
    border-radius: 5px;
}

.first{
    grid-area: first;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-image: url(/images/suzanne-sachs-HnjlKjleBTs-unsplash\ \(2\).jpg);
    height: 1fr;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgcolor{
    background-color: rgb(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    position: absolute;
    color: white;
    border-radius: 10px;
}

.bgcolor > h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.bgcolor > p{
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.sec{
    grid-area: sec;
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    border-radius: 5px;
}

article > img{
    display: block;
    width: 450px;
}


.third{
    grid-area: third;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.last{
    grid-area: last;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.first:hover, .sec:hover, .third:hover, .last:hover{
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.4);
}

.card{
    padding: 2px 16px;
    height: 1fr;
}

footer { 
    grid-area: footer; 
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 10px;
} 

.footerLogo{
    grid-area: left;
    background-color: hsl(0, 3%, 12%);
    border: 1px solid  hsl(0, 3%, 12%);
}
.footerLogo > img{
    display: block;
    margin: 30px auto;
}
.copy{
    grid-area: right;
    background-color: #ffffff;
    border: 1px solid  hsl(0, 3%, 12%);
    text-align: center;
}

.copy> p{
    margin: 56px 0;
}
